.posts-card {
  width: 610px;
  min-height: auto;
  background-color: whitesmoke;
  margin-top: 30px;
  border: 1px solid #b7b7b7;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  .name {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0 0 10px;
    text-decoration: underline;
    cursor: pointer;
  }
  .timestamp {
    font-family: system-ui, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 0 10px;
  }

  .status {
    text-align: left;
    font-family: system-ui, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(84, 84, 84, 0.89);
    margin: 10px 0 0 10px;
  }
}
